@page "/factorial"
@rendermode InteractiveServer
@using System.Numerics

<PageTitle>Factorial</PageTitle>

<h3>Factorial</h3>

<input type="number" @bind="number" @oninput="Calculate" />
<div id="factorial"> @factorial </div>

@code {
    int number;
    BigInteger factorial;
    string errorMessage = "";
    
    void Calculate()
    {
        if (number < 0)
        {
            errorMessage = "Факториал отрицательного числа не определен";
            factorial = 0;
            return;
        }
        
        errorMessage = "";
        factorial = 1;
        for (int i = 1; i <= number; i++)
        {
            factorial *= i;
        }
    }
}