@page "/students/edit"
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Student</h2>
<hr />
@if (Student is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Student" OnValidSubmit="UpdateStudent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Student.student_id" value="@Student.student_id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="first_name" class="form-label">first_name:</label>
                    <InputText id="first_name" @bind-Value="Student.first_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Student.first_name" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="last_name" class="form-label">last_name:</label>
                    <InputText id="last_name" @bind-Value="Student.last_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Student.last_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email:</label>
                    <InputText id="email" @bind-Value="Student.email" class="form-control" />
                    <ValidationMessage For="() => Student.email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="group_id" class="form-label">group_id:</label>
                    <InputNumber id="group_id" @bind-Value="Student.group_id" class="form-control" />
                    <ValidationMessage For="() => Student.group_id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enrollment_date" class="form-label">enrollment_date:</label>
                    <InputDate id="enrollment_date" @bind-Value="Student.enrollment_date" class="form-control" />
                    <ValidationMessage For="() => Student.enrollment_date" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int student_id { get; set; }

    [SupplyParameterFromForm]
    private Student? Student { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Student ??= await context.Students.FirstOrDefaultAsync(m => m.student_id == student_id);

        if (Student is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Student!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentExists(Student!.student_id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    private bool StudentExists(int student_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Students.Any(e => e.student_id == student_id);
    }
}
