@page "/directions/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Direction</PageTitle>

<h1>Create Direction</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="direction" OnValidSubmit="AddDirection" FormName="create">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            
            <div class="mb-3">
                <label class="form-label">ID:</label>
                <input type="number" class="form-control" value="@direction.direction_id" disabled />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Direction Name:</label>
                <InputText @bind-Value="direction.direction_name" class="form-control" />
                <ValidationMessage For="() => direction.direction_name" class="text-danger" />
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/directions">Back to List</a>
</div>

@code {
    private Direction direction = new();

    protected override async Task OnInitializedAsync()
    {
        await GetNextAvailableId();
    }

    private async Task GetNextAvailableId()
    {
        using var context = DbFactory.CreateDbContext();
        
        // Get all existing IDs
        var existingIds = await context.Directions
            .Select(d => d.direction_id)
            .OrderBy(id => id)
            .ToListAsync();
        
        // Find the next available ID starting from 0
        byte nextId = 0;
        foreach (var id in existingIds)
        {
            if (id == nextId)
            {
                nextId++;
            }
            else
            {
                break;
            }
        }
        
        direction.direction_id = nextId;
    }

    private async Task AddDirection()
    {
        using var context = DbFactory.CreateDbContext();
        context.Directions.Add(direction);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/directions");
    }
}